<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - University Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="login-page-layout">

    <!-- Header -->
    <header>
        <div class="header-container">
            <div class="logo-section">
                <h1>UNIVERSITY FINDER</h1>
                <p>Discover the top and best universities here in the Philippines!</p>
            </div>
            <nav>
                <a href="{{ url_for('home') }}">HOME</a> | <a href="#">ABOUT US</a>
            </nav>
        </div>
    </header>

        <!-- Register form -->
        <div class="login-wrapper">
        <div class="login-card register-card">
            <h2>REGISTER</h2>
            
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                                <div class="flash-message">
                  {% for message in messages %}
                                        <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            <form action="{{ url_for('register') }}" method="POST">
                <div class="input-group">
                    <label>Email:</label>
                    <input type="email" name="email" placeholder="Enter email..." required>
                </div>
                <div class="input-group">
                    <label>Age:</label>
                    <input type="number" name="age" placeholder="Enter Age:" required>
                </div>
                <div class="input-group">
                    <label>Username:</label>
                    <input type="text" name="username" placeholder="Enter Username..." required>
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="Enter Password..." required>
                </div>
                
                <div class="login-button-row">
                    <button type="submit" class="btn-register-submit">REGISTER</button>
                </div>

                <div class="form-footer">
                    <p>Already have an account? <br> 
                       <a href="{{ url_for('login') }}">sign in here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>