<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - University Finder</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body class="login-page-layout">

    <header>
        <div class="header-container">
            <div class="logo-section">
                <h1>UNIVERSITY FINDER</h1>
                <p>Discover the top and best universities here in the Philippines!</p>
            </div>
            <nav>
                <a href="index.html">HOME</a> | <a href="#">ABOUT US</a>
            </nav>
        </div>
    </header>

    <div class="login-wrapper">
        <div class="login-card register-card">
            <h2>REGISTER</h2>
            <form action="Loginpage.html">
                <div class="input-group">
                    <label>Email:</label>
                    <input type="email" placeholder="Enter email..." required>
                </div>
                <div class="input-group">
                    <label>Age:</label>
                    <input type="number" placeholder="Enter Age:" required>
                </div>
                <div class="input-group">
                    <label>Username:</label>
                    <input type="text" placeholder="Enter Username..." required>
                </div>
                <div class="input-group">
                    <label>Password:</label>
                    <input type="password" placeholder="Enter Password..." required>
                </div>
                
                <div class="login-button-row">
                    <button type="submit" class="btn-register-submit">REGISTER</button>
                </div>

                <div class="form-footer">
                    <p>Already have an account? <br> 
                       <a href="Loginpage.html">sign in here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

</body>
</html>